<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5ad1c2ea7f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <header>

        <div class="Encabezado">

            <div class="encabezado-logo">
                <div>
                    <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Imagen de Mercado Liebre">
                </div>

                <div class="barra_buscadora">
                    <input type="text" placeholder=" Buscar productos, marcas ">
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
                </div>

            </div>

            <div class="ventas_credito">
                <p> <i class="fas fa-hand-holding-usd"></i> Compre en cuotas y tarjeta de credito </p>
            </div>

        </div>

        <nav>
            <ul>
                <li> <a href="#">Ofertas</a> </li>
                <li> <a href="#">Tiendas Oficiales</a> </li>
                <li> <a href="#">Vender</a> </li>
                <li> <a href="#">Ayuda</a> </li>
            </ul>

            <ul class="cuenta">
                <li> <a href="#">Crea tu Cuenta</a> <i class="far fa-id-card"></i> </li>
                <li> <a href="#">Ingresa</a> <i class="fas fa-sign-in-alt"></i> </li>
                <li> <a href="#">Mis Compras</a> <i class="fas fa-shopping-bag"></i> </li>


            </ul>
        </nav>

        <div class="burger-menu">

            <i class="fas fa-bars"></i>

        </div>

    </header>

    

    <main>

        <div class="banner">
            <img src="/images/img-home-banner.jpg" alt="">
        </div>

        <section>

            <H3>Basado en tu Ultima Visita</H3>

            <div class="productos">

                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de cafetera Moulinex">
                    <div class="articulo-principal">
                        <i class="fas fa-truck"></i>
                        <p class="precio"> $6.770 </p>
                        <p class="descuento"> 40% OFF </p>
                        <h4 class="descripcion"> Cafetera Moulinex </h4>
                    </div>

                </article>

                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de MacBook Pro 2019">
                    <div class="articulo-principal">
                        <i class="fas fa-truck"></i>
                        <p class="precio"> $230.000 </p>
                        <p class="descuento"> 20% off </p>
                        <h4 class="descripcion"> MacBook Pro 2019 </h4>
                    </div>


                </article>

                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung Galaxy S10">
                    <div class="articulo-principal">
                        <i class="fas fa-truck"></i>
                        <p class="precio"> $70.500 </p>
                        <p class="descuento"> 10% OFF </p>
                        <h4 class="descripcion"> Samsung Galaxy S10 </h4>
                    </div>

                </article>

                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen de SmartTv Samsung 43">
                    <div class="articulo-principal">
                        <i class="fas fa-truck"></i>
                        <p class="precio"> $23.200 </p>
                        <p class="descuento"> 5% OFF </p>
                        <h4 class="descripcion"> SmartTv Samsung 43 </h4>
                    </div>
                </article>

            </div>

        </section>

        <section>

            <H3>Ofertas</H3>

            <div class="Ofertas">

                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de cafetera Moulinex">
                    <div class="articulo-principal">
                        <i class="fas fa-truck"></i>
                        <p class="precio"> $6.770 </p>
                        <p class="descuento"> 40% OFF </p>
                        <h4 class="descripcion"> Cafetera Moulinex </h4>
                    </div>

                </article>

                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de MacBook Pro 2019">
                    <div class="articulo-principal">
                        <i class="fas fa-truck"></i>
                        <p class="precio"> $230.000 </p>
                        <p class="descuento"> 20% off </p>
                        <h4 class="descripcion"> MacBook Pro 2019 </h4>
                    </div>

                </article>

                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung Galaxy S10">
                    <div class="articulo-principal">
                        <i class="fas fa-truck"></i>
                        <p class="precio"> $70.500 </p>
                        <p class="descuento"> 10% OFF </p>
                        <h4 class="descripcion"> Samsung Galaxy S10 </h4>
                    </div>

                </article>

                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen de SmartTv Samsung 43">
                    <div class="articulo-principal">
                        <i class="fas fa-truck"></i>
                        <p class="precio"> $23.200 </p>
                        <p class="descuento"> 5% OFF </p>
                        <h4 class="descripcion"> SmartTv Samsung 43 </h4>
                    </div>

                </article>

            </div>

        </section>

    </main>

    <footer>

        <section>

            <article>
                <i class="fas fa-credit-card"></i>
                <h3> Pagá con tarjeta o en efectivo </h3>
                <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!</p>

            </article>

            <article>
                <i class="fas fa-gift"></i>
                <h3> Envío gratis desde $ 2.500 </h3>
                <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de Mercado Puntos.</p>
            </article>

            <article>
                <i class="fas fa-user-shield"></i>
                <h3> Seguridad, de principio a fin </h3>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </article>

            <article>
                <p> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
            </article>

        </section>

    </footer>

</body>

</html>