<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5ad1c2ea7f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/loginstyle.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header>
        <div class="Encabezado">
            <div class="encabezado-logo">
                <div>
                    <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Imagen de Mercado Liebre">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">
                        <input type="text" name="searchbar" placeholder="Qué estás buscando?">
                        <div class="lupa">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ventas_credito">
                <p> <i class="fas fa-hand-holding-usd"></i> Compre en cuotas y tarjeta de credito </p>
            </div>
        </div>

        <nav>
            <ul class="nav-derecha">
                <li> <a href="#">Ofertas</a> </li>
                <li> <a href="#">Tiendas Oficiales</a> </li>
                <li> <a href="#">Vender</a> </li>
                <li> <a href="#">Ayuda</a> </li>
            </ul>

            <ul class="cuenta">
                <li> <a href="./register">Crea tu Cuenta</a> <i class="far fa-id-card"></i> </li>
                <li> <a href="./login">Ingresa</a> <i class="fas fa-sign-in-alt"></i> </li>
                <li> <a href="#">Mis Compras</a> <i class="fas fa-shopping-bag"></i> </li>


            </ul>
        </nav>

        <div class="burger-menu">

            <i class="fas fa-bars"></i>

        </div>
    

    </header>

    <main>

        <h2>Ingresa a tu Cuenta</h2>
        <div>
            <form action="/" method="post">

                <div class="nombre-usuario">
                    <label for="nombre-usuario"></label>
                    <input class="grande" type="text" name="nombre-usuario" id="nombre-usuario" placeholder="Usuario" required >
                </div>

                <div class="password">
                    <label for="password"></label>
                    <input class="grande" type="password" name="password" id="password" placeholder="Contraseña">
                </div>

                <div class="botones">
                    <button class="login-boron" type="submit"> Enviar</button>

            </form>

        </div>

        <footer>

            <section class="pie-pagina">
    
                <article>
                    <i class="fas fa-credit-card"></i>
                    <h3> Pagá con tarjeta o en efectivo </h3>
                    <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                        siempre es seguro!</p>
    
                </article>
    
                <article>
                    <i class="fas fa-gift"></i>
                    <h3> Envío gratis desde $ 2.500 </h3>
                    <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                        beneficio de Mercado Puntos.</p>
                </article>
    
                <article>
                    <i class="fas fa-user-shield"></i>
                    <h3> Seguridad, de principio a fin </h3>
                    <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                        protegid@.</p>
                </article>
    
            </section>
    
            <section>
                <article>
                    <p> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
                </article>
            </section>
    
        </footer>




    </main>
    
</body>
</html>