<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>

    <main>

        <form action="">

            <div class="nombre-usuario">
                <label for="nombre-usuario"></label>
                <input class="grande" type="text" name="nombre-usuario" id="nombre-usuario" placeholder="Usuario" required >
            </div>

            <div class="password">
                <label for="password"></label>
                <input class="grande" type="password" name="password" id="password" placeholder="Contraseña">
            </div>

            <div class="botones">
                <button type="submit"> Enviar</button>
                <button type="reset"> Borrar</button>


        </form>

          <footer>

        <section class="pie-pagina">

            <article>
                <i class="fas fa-credit-card"></i>
                <h3> Pagá con tarjeta o en efectivo </h3>
                <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!</p>

            </article>

            <article>
                <i class="fas fa-gift"></i>
                <h3> Envío gratis desde $ 2.500 </h3>
                <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de Mercado Puntos.</p>
            </article>

            <article>
                <i class="fas fa-user-shield"></i>
                <h3> Seguridad, de principio a fin </h3>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </article>

        </section>

        <section>
            <article>
                <p> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
            </article>
        </section>

    </footer>


    </main>
    
</body>
</html>