/* Main */

h2{
    text-align: center;
    font-size: 25px;
    color: rgb(0, 17, 70);
    margin: 0 auto;
    padding: 25px;
}

div.formulario{
    text-align: left;
    padding: 30px;
    background-color: rgb(209, 209, 209);
    margin: auto 10px;
    border-radius: 15px;
    border: none;
    margin-bottom: 25px;


}

form input{
    margin: 5px;
    width: 90%;
    border-radius: 5px;
    border-color: rgb(209, 209, 209);
    padding: 5px;
    font-size: 12px;
    font-weight: 300;
 
}

.grande{
    height: 40px;
}

div.fecha-nacimiento label{
    text-align: left;
}

.titulos{
    font-size: 19px;
    color: rgb(0, 17, 70);
    font-weight: 400;
    margin-bottom: 5px;
}


label{
    font-size: 15px;
    font-weight: 500;
}

.perfil-usuario input{
    width: 5%; 
}

.categoria-interes input{
    width: 5%; 
}

form button{
    margin-top: 10px;
    background-color: rgb(0, 17, 70);
    color: #ffffff;
    padding: 6px 14px;
    border-radius: 7px;
    font-size: 16px;
    border: none;
    margin: 10px;
    width: 40%;
}

.login-boron:hover {
    background-color: #0022AA;
    color: white;
}

/* ----- Media Querys-------*/

@media(min-width:800px){
    form div {
        text-align: center;
    }

    .perfil-usuario{
        display: flex;
        margin: 10px 57px;
    }

    .categoria-interes{
        display: flex;
        margin: 10px 57px;
    }
}


    
        
    
       
        
    



    