* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box
}
/* Header*/

header{
    background-color: #EAC926;
    padding-bottom: 10px;
}

div.Encabezado{
    padding: 5%;
    
}

.encabezado-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.form {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    width: 70%;
    background-color: #ffffff;
    border-radius: 5px;
    color: #666;
}

div.input {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

div.input input {
    border: none;
    width: 75%;
}

div.input button {
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

div.lupa i {
    font-size: 17px;
    width: 25%;
}


.logo {
    width: 90%;
}

header nav{
    display: none;
}

header nav ul a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;

}

.ventas_credito{
    text-align: center;
    margin-top: 15px;
}

div.burger-menu{
    text-align: center;
}

.burger-menu{
    background-color:#1259c3;;
    width: 15%;
    padding: 10px;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 10px;
    
}
.fa-bars{
    color: #ffffff;
    padding: 5 5;
}

/* Main */

main{
    width: 100%; 
    background-color: #ebebeb;

}
/*   Div Banner */

.banner img {
    width: 100%;
    margin: 0 auto;
}

main h3{
    display: none;
}

main article{
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}

main section article{
    background-color: #ffffff;
    border-radius: 15px;
    
}



article div.articulo-principal {
    border-top: 1px solid #ebebeb;
    width: 100%;
    padding: 15px;
}

.articulo-principal{
    position: relative;
}
    

main img{
    width: 80%;
    margin: 0 35px;
}

main h3 {
    display: block;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

main h4 {
    font-size: 18px;
    font-weight: normal;
}

article div.articulo-principal{
    display: flex;
    position: relative;
}
.precio{
    font-size: 18px;
    width: 30%;
}

main .descripcion{
    color: #666;
    font-size: 16px;
}

.descripcion{
    display: none;
}



main .descuento{
    font-size: 16px;
    color: #39b54a;
    position: absolute;
    left: 110px;
}

i.fa-truck{
    color: #39b54a;
    border: solid 1px #39b54a; 
    border-radius: 50px;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    position: absolute;
    right: 20px;
    top: -15px;
}




/* Footer*/

footer {
    background-color: #ffffff;
    text-align: center;
    padding: 30px 0;
    width: 90%;
    margin: 0 auto;
}

i.fa-credit-card, i.fa-gift, i.fa-user-shield {
    color: #1259c3;
    font-size: 22px;
    cursor: pointer;
}

footer article {
    margin: 40px 18px;
    color: #666;
}

footer article div {
    margin-bottom: 9px;
}

/*-------- MEDIA-QUERYS --------- */

@media (min-width: 361px){

/*---------- Header ------------- */

    .encabezado-logo{
    display: flex;
    padding: 10px 20px;
    width: 100%;
}

    .burger-menu {
        display: block;
    }
    

    header nav {
        display: none; 
    }

    .barra_buscadora input{
        width: 80%;
        margin-left: 50px;
    }
/* ---------Main section--------*/


    main section article{
        width: 45%;
        transition: all 450ms;
    }   

    main section article:hover {
        box-shadow: 5px 10px rgb(145, 145, 145);
    }
    

    main section div.productos{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 20px;
    }

    main section div.Ofertas{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 20px;
    }

    main img{
        margin: 0 20px;
    }

    article div.articulo-principal{
        border-top: 1px solid #ebebeb;
        width: 100%;
        padding: 15px;
        display: flex;
        position: relative;
        flex-wrap: wrap;
    }

    .descuento{
        display: block;
    }

    .descripcion {
        display: block;
        margin-top: 30px;
        transition: all 450ms;
        visibility: hidden;
    }

    article:hover .articulo-principal .descripcion {
        visibility: visible;
    }
   


}

@media (min-width: 769px){

/*---------- Header ------------- */

    .Encabezado{
        display: flex;
        justify-content: space-between;

    }

    .ventas_credito{
        max-width: 250px;
        font-size: 20px;
        margin-top: 26px;
        text-align: right;
    }

    .burger-menu {
        display: none;
    }

    header nav{
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        margin: 5px 20px;
        }

    nav ul{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav ul li{
        margin: 0 5px;
    }

/* ---------Main section--------*/

    main section article{
    width: 22%;
    margin: 10px;
    }

    article:hover .articulo-principal i.fa-truck {
        transform: rotate(-90deg);
    }

    

}

@media (min-width: 1024px){

    .pie-pagina{
        display: flex;
        justify-content: space-around;
    }

}